.nav-bar-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1380px;
    height: 75px;
    padding: 0 20px;

    .homepage-nav-ham:hover {
        cursor: pointer;
    }

    .homepage-menu-title {
        color: red;
    }
}

.homepage-nav-drop-menu {
    top: 23px !important;
}

.homepage-content {
    width: 100%;

    .homepage-title {
        width: 1380px;
        position: relative;
        top: -40px;
        padding-left: 63px;

        .homepage-title-welcome,
        .homepage-title-name {
            font-size: 48px;
            line-height: 1
        }

        .homepage-title-welcome {
            font-weight: 400;
        }

        .homepage-title-name {
            font-weight: 800;
        }
    }

    .homepage-help {
        padding-top: 60px;

        .homepage-help-title {
            font-size: 32px;
            font-weight: 600;
            padding-left: 85px;
        }

        .homepage-help-menu {
            display: flex;
            justify-content: space-around;
            grid-gap: 10%s;
            padding: 52px 16px;

            .homepage-help-menu-opt {
                max-width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .menu-icons {
                    width: 160px;
                    height: 120px;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .menu-title {
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: 700;
                }
            }

            .homepage-help-menu-opt:hover {
                cursor: pointer;

                .menu-icons {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }
        }
    }

    .homepage-plans {
        background: url('../assets/background.jpg');
        margin-top: 80px;
        display: flex;
        flex-direction: column;


        .homepage-plans-content {
            display: flex;
            grid-gap: 5%;
            padding: 0 60px;
            justify-content: space-around;

            height: 100vh;
        }

        .homepage-plans-title {
            font-size: 32px;
            font-weight: 600;
            padding-left: 85px;
        }

        .homepage-plans-opt {
            display: flex;
            grid-gap: 30px;
            padding: 30px;
            align-items: center;

            .active-title {
                font-size: 16px;
                font-weight: 500;
            }

            .homepage-active-next {
                width: 30px;
                height: 30px;
            }
        }

        .homepage-plans-opt:hover {
            cursor: pointer;
            /* box-shadow: 10px 10px 3px 1px lightblue; */
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .homepage-easy-switch {
            margin-top: 20px;
        }

        .homepage-warranty {
            margin-top: 16px;
        }

        .homepage-easy-switch,
        .homepage-warranty {
            display: flex;
        }
    }
}

@media only screen and (max-width: 600px) {
    .homepage-content {
        padding: 0 !important;
    }

    /* .homepage-title {
        padding-top: 50px !important;
    } */

    .homepage-help {
        padding-top: 30px !important;
    }

    .homepage-help-menu-opt {
        max-width: 100% !important;
        margin-bottom: 32px !important;
        margin-right: 12px !important;
    }

    .homepage-help-menu {
        padding: 16px 30px !important;
        align-items: center !important;
    }

    .homepage-title-welcome,
    .homepage-title-name {
        font-size: 32px !important;
    }

    .homepage-plans-content {
        flex-direction: column !important;
    }

    .homepage-help-menu {
        flex-wrap: wrap !important;
    }

    .homepage-plans {
        margin-top: 20px !important;
    }

    .homepage-plans-content {
        max-width: 100% !important;
    }
}



.homepage {
    overflow-x: hidden;
}

/* New */
.content-wrapper {}

.homepage-main {
    background: 0% 0% / cover no-repeat var(--color-secondary);


    .homepage-illustration,
    .homepage-title {
        width: 40%;

        img {
            width: 100%
        }
    }

    width: 100%;
    border-bottom-left-radius: 250% 160px;
    border-bottom-right-radius: 10px;
}

.homepage-help {
    background-color: #ffffff;

    .homepage-help-content {
        max-width: 1380px;
        margin: auto;
    }
}

.homepage-plans {
    padding-top: 30px;


    .homepage-plans-body {
        max-width: 1380px;
    }
}

.homepage-main-body {
    display: flex;
    padding-top: 50px;
    justify-content: space-around;
    align-items: center;
    flex-basis: 0;
    grid-gap: 10%;
    width: 1380px;
    margin: auto;
}

/* BUTTON PLANS */


.check-more-plans {
    position: relative;
    left: 74%;
    margin-bottom: 30px;

    .cta {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
        cursor: pointer;
    }

    .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: tomato;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
    }

    .cta span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: black;
    }

    .cta span:hover {
        color: white;
    }

    .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: var(--color-secondary);
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
    }

    .cta:hover:before {
        width: 100%;
        background: tomato;
    }

    .cta:hover svg {
        transform: translateX(0);
    }

    .cta:active {
        transform: scale(0.95);
    }
}