* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --color-main: #323232;
  --color-secondary: #5e2ced;
  --bg-color: #fff;
  --main-color: #323232;
}

.global-color-red {
  color: red;
}

.global-color-green {
  color: green;
}

.nav-color {
  background-color: #fff;
}

.global-border {
  border: 2px solid #5e2ced;
  border-radius: 6px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.global-color-white {
  color: #fff;
}

.global-color-tomato {
  color: red;
}

.global-iframe {
  height: 45vh;
  border: none;
}

.global-iframe-full {
  height: 68vh;
  width: 100%;
  border: none;
}

.global-success {
  color: green;
}

.title-heading-700 {
  font-weight: 700;
  font-size: 20px;
}

.title-heading-500 {
  font-weight: 600;
  font-size: 16px;
}